<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />-->
    <!--<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />-->
    <section name="NHibernateSagaPersisterConfig" type="NServiceBus.Config.NHibernateSagaPersisterConfig, NServiceBus.NHibernate" />
    <section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.NHibernate" />
    <section name="TimeoutPersisterConfig" type="NServiceBus.Config.TimeoutPersisterConfig, NServiceBus.NHibernate" />
    <!--
    The SecondLevelRetriesConfig configuration section is no longer supported. Remove this from this configuration section. Switch to the code API by using '	(settings => ...)' instead.
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />-->
    
    <!--<section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />-->
    
    <!--The TransportConfig configuration section is no longer supported. Remove this from this configuration section. Switch to the code API by using 'endpointConfiguration.LimitMessageProcessingConcurrencyTo(1)' to change the concurrency level or 'endpointConfiguration.Recoverability().Immediate(settings => settings.NumberOfRetries(5)' to change the number of immediate retries instead.
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />-->
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Persistence" connectionString="Data Source=.\SqlExpress;Database=NsbSamplesSqlNHibernate;Integrated Security=True;Max Pool Size=100"/>
    <add name="NServiceBus/Transport" connectionString="Data Source=.\SqlExpress;Database=NsbSamplesSqlNHibernate;Integrated Security=True;Max Pool Size=100"/>
  </connectionStrings>
  <!--
  'MessageForwardingInCaseOfFaultConfig' is discouraged. Replace with endpointConfiguration.SenmFailedMessageTo
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="Samples.SqlNHibernate.Receiver.Error" />-->
  <!--<SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:10" NumberOfRetries="3" />-->
  <!--<UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="OrderSubmitted, Shared" Endpoint="Samples.SqlNHibernate.Receiver" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
      <add Key="connection.driver_class" Value="NHibernate.Driver.Sql2008ClientDriver" />
      <add Key="connection.connection_string_name" Value="NServiceBus/Transport" />
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect" />
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
  <NHibernateSagaPersisterConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
      <add Key="connection.driver_class" Value="NHibernate.Driver.Sql2008ClientDriver" />
      <add Key="connection.connection_string_name" Value="NServiceBus/Transport" />
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect" />
    </NHibernateProperties>
  </NHibernateSagaPersisterConfig>
  <TimeoutPersisterConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
      <add Key="connection.driver_class" Value="NHibernate.Driver.Sql2008ClientDriver" />
      <add Key="connection.connection_string_name" Value="NServiceBus/Transport" />
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect" />
    </NHibernateProperties>
  </TimeoutPersisterConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
